

h1,
h2 {
  font-family: Gotham;
  text-indent: 50px;
}

svg {
  background-color: #DADFFF;
}

rect.tiles {
  stroke: #FEF0D9;
  stroke-width:3px;   
}


text.yearLabel {
  font-size: 12pt;
  font-family: Consolas, courier;
  fill: #888;
}